<header>
  <a href="#" class="logo">Devs 'N' Revs Care</a>
  <ul class="navlist">
    <li><a href="#" class="active">Home</a></li>
    <li><a href="#first">About Us</a></li>
    <li><a href="#second">Get Diagnosis</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
</header>
