*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style:none;
  text-decoration: none;
}

body{
  background: black;
  overflow-x:hidden;
}

a{
  text-decoration: none;
  color:white;
}
header{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px 6%;
}

header .logo{
  font-size: 3rem;
  font-weight: bolder;
}
header .navlist{
   display: flex;
   justify-content: center;
   align-items: center;
}

header .navlist li a{
  padding:5px 8px;
  border-radius: 8%;
  margin-left: 40px;
  transition: all .3s ease-in-out;
}

header .navlist .active{
  background-color: #00A9FF;
}

header .navlist li a:hover{
  background-color: #00A9FF;
}

.heading{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width:100%;
  height:100vh;
  color:white;

}
.heading h2{
  position: absolute;
  color:white;
  text-shadow: 5px 5px 8px #00A9FF;
}
.heading span{
  font-size: 220%;
}

.image{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  object-fit: cover;
}

#text2{
  position: relative;
  display: flex;
  padding-top:4%;
  padding-left: 4%;
  background-color: black;
  color:white;
  font-size: 400%;
}

#background{
  top:14%;
}

#vet1{
 top:25%;
 right:2%;
}

#vet2{
  top:27%;
  left:60%;
}

#grass{
  bottom:20%;
}

.about{
  display: absolute;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom:120px;
  border:10px;
  border-color: white;
}

.contain{
  border: 10px;
  color:white;
  display: flex;
  justify-content: space-around;
}

.lefty{
  display: flex;
  justify-content: center;
  align-items: center;
  width:50%;
}


.button-52 {
  z-index:40;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid white;
  cursor: pointer;
  position: relative;
  background-color: #00A9FF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  justify-content: center;
  left:30%;
}

.button-52:after {
  content: "";
  background-color: #00A9FF;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
  background-color: #00A9FF;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  z-index: 999; /* Ensure the overlay appears above other elements */
}
