.div0{
 background-color:white;
 width:100%;
 padding-left: 4%;
 padding-top: 3%;
 padding-right: 5%;

 z-index:10;
}
.div1, .div2 {
  width: 50%;
  float: left;
}

.div1{
  background-color:white;
  font-family: "Tilt Neon";
}

.div2{
  padding:5px;
  background-color: #A0E9FF;
  font-family: "Tilt Neon";
}

.heading{
  z-index:-1;
  font-family: "Tilt Neon";
}

.pdf-bullet{
  display:inline;
  position: relative;
  bottom: 3.5px;
  width: 40px;
  margin-left: 2px;
}

.left-head{
  display: inline;
  color: #00A9FF;
  font-size: 30px;
}

.left-box1{
  padding-left: 5%;
  padding-bottom: 25%;
}

.left-box2{
  padding-left: 5%;
  padding-bottom: 5%;
}

.left-box1-left{
  width: 40%;
  float: left;
}

.left-box1-right{
  width: 60%;
  float: left;
}

.left-box2-text{
  display:inline;
}

.left-box2-first{
  width: 28%;
  float: left;
}

.left-box2-second{
  width: 100px;
  float: left;
  color:black;
}

.watermark{
  position:fixed;
  top:30%;
  left:12%;
  z-index:50;
}

.design{
  background-color: orange;
  height:1000px;
  width:2000px;
  position: fixed;
  right:5%;
  bottom:92%;
  z-index:1;
  -webkit-transform: rotate(-8deg)
}

.right-head{
  display: inline;
  color: #black;
  font-size: 30px;
}

.right-box1-text{
  padding-left : 26px;
  padding-right: 6px;
}

.right-box1-subhead{
  color: #black;
  font-size: 26px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0px;
}

.right-box1{
  padding-left: 0%;
  padding-bottom: 20%;
  justify-content: center;
}
.right-box1-left{
  width: 33.33%;
  float: left;
  text-align: center;
  justify-content: center;


}
.right-box1-center{
  width: 33.33%;
  float: left;
  text-align: center;
}
.right-box1-right{
  width: 30%;
  float: left;
  text-align: center;
}

.right-box1-box2-head{
  display:inline;
  color: #black;
  font-size: 20px;
}

.pdf-bullet-small{
  display:inline;
  position: relative;
  width: 25px;
  margin-left: 5px;
}

.right-box1-box2{
  background-color: white;
  margin: 6px;
  padding: 6px;
  border-radius: 6px;
  font-size: 12px;
}


.example {
  text-align: center;
}

.pie{
  content: attr(data-value);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #eee;
  background-image: linear-gradient(to right, transparent 50%, #4CC9D8 0);
  position: relative;
  display: inline-block;
  margin: 10px;

}

.pie::after {
  content: attr(data-value);
  position: absolute;
  width: 70%;
  height: 70%;
  margin: auto;
  border-radius: 50%;
  background-color: #A0E9FF;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  font: 900 21px/41px Tahoma;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%)
}

@for $i from 0 through 50 {
  .pie[data-value="#{$i}"]:before {
    transform: rotate(#{$i/100}turn);
  }
}

@for $i from 51 through 100 {
  .pie[data-value="#{$i}"]:before {
    background-color: #4CC9D8;
    transform: rotate(#{$i/100 - .5}turn);
  }
}




.pet.information {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 25px;
}

.pet.information p {
    margin: 0; /* Remove default margin for paragraphs inside the div */
}
.dog-food-image {
        margin-right: 10px; /* Adjust the margin as needed for your desired spacing */
        height: 40px;
        width: 40px;
    }

    .right-box-table{
      padding-left: 5%;
      padding-bottom: 25%;
    }

    .right-box-table-first{
      width: 45%;
      float: left;
    }
