/* .head{
  background-image: url('<%= wicked_pdf_asset_base64("pdf_background.jpg") %>');
  height:200px;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
.left-head{
  display:flex;
 background-color:red;
}
.right-head{
  display:flex;
background-color:green;
} */

/* pet_report.css */

.head {
  background-image: url('<%= wicked_pdf_asset_base64("pdf_background.jpg") %>');
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
}

.left-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #000;
}

.right-head {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
}

.boody-head {
  padding: 10px;
  color: white;
  font-family: "Playpen Sans";
  font-size: 30px;
  background-color: teal;
}
/* pet_report.css */

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.two-column-table {
  width: 100%;
  border-style: none;
}

.left-column {
  width: 50%;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

.right-column {
  width: 50%;
  padding: 10px;
}

img {
  max-width: 100%;
  height: auto;

}

.c2{
  margin-top: 180px; /* Adjust the margin-top as needed to move the image down */
}

.details-table {
  width: 100%;
  font-family: "Garamond";
}

.boody-head {
  background-color: teal;
  color: white;
  font-size: 30px;
  padding: 10px;
}

.details-table td {
  padding: 5px;
  text-align: center;

}

.details-table tr:nth-child(even) {
  /* background-color: #f2f2f2; */
  background-color: teal;
  color: white;
}

.details-table td:first-child {
  font-weight: bold;
}


.pet.information {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}

.pet.information p {
    margin: 0; /* Remove default margin for paragraphs inside the div */
}

.pet.information .best-suggested-food {
    font-family: "Georgia";
    font-style: italic;
}

.cups .best-suggested-food {
  font-family: 'Poppins';
    /* font-style: italic; */
}

.best-suggested-food{
  font-family: "Georgia";
}
.pet.information2 {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    font-family: "Garamond";
}

.cups{
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  border-radius: 8px;
  font-family: "Georgia";
}

.pet.information2 .possible-ailments {
    font-style: italic;
    white-space: pre-line;

}


.dog-food-image {
        margin-right: 10px; /* Adjust the margin as needed for your desired spacing */
        height: 40px;
        width: 40px;
    }

  .boody-head img {
      margin-bottom: 16px;
  }
